.hotpicks-section {
  text-align: center;
  background: #000;
  padding: 50px 0;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}

.hotpicks-section .title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.hotpicks-slider {
  width: 80%;
  margin: auto;
}

.hotpicks-slide {
  background: #111;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.hotpicks-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(60%);
}

.hotpicks-slide.swiper-slide-active img {
  filter: grayscale(0);
}

.hotpicks-slide .overlay {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hotpicks-slide .overlay h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hotpicks-slide .overlay button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.hotpicks-slide .overlay button:hover {
  background: #fff;
  color: #000;
}

.swiper-pagination-bullet {
  background: #fff !important;
}
